In [7]:
print('HIIIiii')

HIIIiii

In [8]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [9]:
df1 = pd.read_csv("bengaluru_house_prices.csv")
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [10]:
df1.shape

(13320, 9)

In [11]:
df1.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [12]:
df2 = df1.drop(['bath','balcony','availability','society'],axis='columns') #May not be advisible to drop these parameters in the real life scenarios
df2.tail()

,area_type,location,size,total_sqft,price
13315,Built-up Area,Whitefield,5 Bedroom,3453,231.0
13316,Super built-up Area,Richards Town,4 BHK,3600,400.0
13317,Built-up Area,Raja Rajeshwari Nagar,2 BHK,1141,60.0
13318,Super built-up Area,Padmanabhanagar,4 BHK,4689,488.0
13319,Super built-up Area,Doddathoguru,1 BHK,550,17.0

In [13]:
df2.shape

(13320, 5)

# DATA CLEANING

In [14]:
df2.isnull().sum()

area_type      0
location       1
size          16
total_sqft     0
price          0
dtype: int64

In [15]:
df3 = df2.dropna()
df3.isnull().sum()

area_type     0
location      0
size          0
total_sqft    0
price         0
dtype: int64

In [16]:
df3['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [17]:
df3['size'].nunique()

31

In [18]:
roney = lambda a, b : a+b
print(roney(68,1))

69

In [19]:
df3['bhk'] = df3['size'].apply(lambda x: int(x.split(' ')[0]))
df3.head(10)

C:\Users\Roney Patel\AppData\Local\Temp\ipykernel_2316\3668831979.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['bhk'] = df3['size'].apply(lambda x: int(x.split(' ')[0]))

,area_type,location,size,total_sqft,price,bhk
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,39.07,2
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,120.00,4
2,Built-up Area,Uttarahalli,3 BHK,1440,62.00,3
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,95.00,3
4,Super built-up Area,Kothanur,2 BHK,1200,51.00,2
5,Super built-up Area,Whitefield,2 BHK,1170,38.00,2
6,Super built-up Area,Old Airport Road,4 BHK,2732,204.00,4
7,Super built-up Area,Rajaji Nagar,4 BHK,3300,600.00,4
8,Super built-up Area,Marathahalli,3 BHK,1310,63.25,3
9,Plot Area,Gandhi Bazar,6 Bedroom,1020,370.00,6

In [ ]:
df3['bhk'].unique(), df3.drop(['size'], axis='columns'), df3.shape,

(array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
        13, 18]),
                   area_type                  location total_sqft   price  bhk
 0      Super built-up  Area  Electronic City Phase II       1056   39.07    2
 1                Plot  Area          Chikka Tirupathi       2600  120.00    4
 2            Built-up  Area               Uttarahalli       1440   62.00    3
 3      Super built-up  Area        Lingadheeranahalli       1521   95.00    3
 4      Super built-up  Area                  Kothanur       1200   51.00    2
 ...                     ...                       ...        ...     ...  ...
 13315        Built-up  Area                Whitefield       3453  231.00    5
 13316  Super built-up  Area             Richards Town       3600  400.00    4
 13317        Built-up  Area     Raja Rajeshwari Nagar       1141   60.00    2
 13318  Super built-up  Area           Padmanabhanagar       4689  488.00    4
 13319  Super built-up  Area              Doddathoguru        550   17.00    1

 [13303 rows x 5 columns],
 (13303, 6))

In [31]:
df3[df3.bhk>20], df3.bhk>20

(                 area_type                   location        size total_sqft  \
 1718  Super built-up  Area  2Electronic City Phase II      27 BHK       8000
 4684            Plot  Area                Munnekollal  43 Bedroom       2400

       price  bhk
 1718  230.0   27
 4684  660.0   43  ,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 13315    False
 13316    False
 13317    False
 13318    False
 13319    False
 Name: bhk, Length: 13303, dtype: bool)

In [ ]:
#df3['total_sqft'].unique()
df3.total_sqft.unique()         #Here we can see there are entries with sqft being in range

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      shape=(2110,), dtype=object)

In [42]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [45]:
df3[~df3.total_sqft.apply(is_float)].head(10)  #Use negation so that the entries with output of False i.e other than integers are displayed

,area_type,location,size,total_sqft,price,bhk
30,Super built-up Area,Yelahanka,4 BHK,2100 - 2850,186.000,4
56,Built-up Area,Devanahalli,4 Bedroom,3010 - 3410,192.000,4
81,Built-up Area,Hennur Road,4 Bedroom,2957 - 3450,224.500,4
122,Super built-up Area,Hebbal,4 BHK,3067 - 8156,477.000,4
137,Super built-up Area,8th Phase JP Nagar,2 BHK,1042 - 1105,54.005,2
165,Super built-up Area,Sarjapur,2 BHK,1145 - 1340,43.490,2
188,Super built-up Area,KR Puram,2 BHK,1015 - 1540,56.800,2
224,Super built-up Area,Devanahalli,3 BHK,1520 - 1740,74.820,3
410,Super built-up Area,Kengeri,1 BHK,34.46Sq. Meter,18.500,1
549,Super built-up Area,Hennur Road,2 BHK,1195 - 1440,63.770,2

Look out at the ninth entry it is in sq meter as well as has string input in the cell

In [61]:
def convert_range(x):
    token = x.split('-')
    if len(token) == 2:
        return (float(token[0])+ float(token[1]))/2
    try:
        return float(x)
    except:
        return None

In [63]:
df3[df3.total_sqft.apply(convert_range)]

KeyError: "None of [Index([1056.0, 2600.0, 1440.0, 1521.0, 1200.0, 1170.0, 2732.0, 3300.0, 1310.0,\n       1020.0,\n       ...\n       1050.0, 1500.0, 1262.0, 1345.0, 1715.0, 3453.0, 3600.0, 1141.0, 4689.0,\n        550.0],\n      dtype='float64', length=13303)] are in the [columns]"